In [26]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

El objetivo de este notebook es poder juntar los csv de PM10 de los años 2020, 2021, 2022 y 2023 en un solo csv. Tambien verificar calidad en los datos: Unicidad, Consistencia, Validez y Completitud.

In [27]:
# Cargar los datos de PM10 de 2010 a 2023
pm10_2010 = "raw/pm10-2010.csv"
pm10_2011 = "raw/pm10-2011.csv"
pm10_2012 = "raw/pm10-2012.csv"
pm10_2013 = "raw/pm10-2013.csv"
pm10_2014 = "raw/pm10-2014.csv"
pm10_2015 = "raw/pm10-2015.csv"
pm10_2016 = "raw/pm10-2016.csv"
pm10_2017 = "raw/pm10-2017.csv"
pm10_2018 = "raw/pm10-2018.csv"
pm10_2019 = "raw/pm10-2019.csv"
pm10_2020 = "raw/pm10-2020.csv"
pm10_2021 = "raw/pm10-2021.csv"
pm10_2022 = "raw/pm10-2022.csv"
pm10_2023 = "raw/pm10-2023.csv"
pm10_2024 = "raw/pm10-2024.csv"

df_2010 = pd.read_csv(pm10_2010, sep=',')
df_2011 = pd.read_csv(pm10_2011, sep=',')
df_2012 = pd.read_csv(pm10_2012, sep=',')
df_2013 = pd.read_csv(pm10_2013, sep=',')
df_2014 = pd.read_csv(pm10_2014, sep=',')
df_2015 = pd.read_csv(pm10_2015, sep=',')
df_2016 = pd.read_csv(pm10_2016, sep=',')
df_2017 = pd.read_csv(pm10_2017, sep=',')
df_2018 = pd.read_csv(pm10_2018, sep=',')
df_2019 = pd.read_csv(pm10_2019, sep=',')
df_2020 = pd.read_csv(pm10_2020, sep=',')
df_2021 = pd.read_csv(pm10_2021, sep=',')
df_2022 = pd.read_csv(pm10_2022, sep=',')
df_2023 = pd.read_csv(pm10_2023, sep=',')
df_2024 = pd.read_csv(pm10_2024, sep=',')

# Combinar los datos 
df_10_2010 = pd.concat([df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)
df_10_2020 = pd.concat([df_2020, df_2021, df_2022, df_2023, df_2024], ignore_index=True)
print(df_10_2010.head())
print(df_10_2020.head())

               Estacion     Fecha inicial       Fecha final       PM10
0  CARVAJAL - SEVILLANA  2010-12-31 22:00  2010-12-31 23:00  38.333333
1  CARVAJAL - SEVILLANA  2010-12-31 21:00  2010-12-31 22:00  33.833333
2  CARVAJAL - SEVILLANA  2010-12-31 20:00  2010-12-31 21:00  33.833333
3  CARVAJAL - SEVILLANA  2010-12-31 19:00  2010-12-31 20:00  46.500000
4  CARVAJAL - SEVILLANA  2010-12-31 18:00  2010-12-31 19:00  55.666667
  Estacion     Fecha inicial       Fecha final  PM10
0   "USME"  12/31/2020 22:00  12/31/2020 22:59  39.5
1   "USME"  12/31/2020 21:00  12/31/2020 21:59  35.5
2   "USME"  12/31/2020 20:00  12/31/2020 20:59  38.3
3   "USME"  12/31/2020 19:00  12/31/2020 19:59  34.7
4   "USME"  12/31/2020 18:00  12/31/2020 18:59  38.7

De una vez vamos a procesar la fecha incial que es la que vamos a tomar, vamos a dejar la columna "Fecha inicial" renombrada a fecha, sacaremos de ahi, "ANIO" y "HORA"

In [28]:
# procesar la columna de fecha y hora, para los datos de 2010 a 2019 el formato es %Y-%m-%d %H:%M, para los datos de 2020 a 2023 el formato es %m/%d/%Y %H:%M

df_10_2010['Fecha inicial'] = pd.to_datetime(df_10_2010['Fecha inicial'], format='%Y-%m-%d %H:%M')
df_10_2010.rename(columns={'Fecha inicial': 'FECHA'}, inplace=True)
df_10_2010['ANIO'] = df_10_2010['FECHA'].dt.year
df_10_2010['HORA'] = df_10_2010['FECHA'].dt.hour
df_10_2010['MES'] = df_10_2010['FECHA'].dt.month
df_10_2010['DIA'] = df_10_2010['FECHA'].dt.day
df_10_2010.head()

# Renombrar columna a uppercase
df_10_2010.rename(columns={'Estacion': 'ESTACION'}, inplace=True)

# Borrar columna fecha final
df_10_2010.drop(columns=['Fecha final'], inplace=True)

In [29]:
# procesar la columna de fecha y hora, para los datos de 2010 a 2019 el formato es %Y-%m-%d %H:%M, para los datos de 2020 a 2023 el formato es %m/%d/%Y %H:%M

df_10_2020['Fecha inicial'] = pd.to_datetime(df_10_2020['Fecha inicial'], format='%m/%d/%Y %H:%M')
df_10_2020.rename(columns={'Fecha inicial': 'FECHA'}, inplace=True)
df_10_2020['ANIO'] = df_10_2020['FECHA'].dt.year
df_10_2020['HORA'] = df_10_2020['FECHA'].dt.hour
df_10_2020['MES'] = df_10_2020['FECHA'].dt.month
df_10_2020['DIA'] = df_10_2020['FECHA'].dt.day
df_10_2020.head()

# Renombrar columna a uppercase
df_10_2020.rename(columns={'Estacion': 'ESTACION'}, inplace=True)

# Borrar columna fecha final
df_10_2020.drop(columns=['Fecha final'], inplace=True)

In [30]:
# Ahora vamos a unir ambos dataframes en uno solo
df_10 = pd.concat([df_10_2010, df_10_2020], ignore_index=True)
df_10.head()

               ESTACION               FECHA       PM10  ANIO  HORA  MES  DIA
0  CARVAJAL - SEVILLANA 2010-12-31 22:00:00  38.333333  2010    22   12   31
1  CARVAJAL - SEVILLANA 2010-12-31 21:00:00  33.833333  2010    21   12   31
2  CARVAJAL - SEVILLANA 2010-12-31 20:00:00  33.833333  2010    20   12   31
3  CARVAJAL - SEVILLANA 2010-12-31 19:00:00  46.500000  2010    19   12   31
4  CARVAJAL - SEVILLANA 2010-12-31 18:00:00  55.666667  2010    18   12   31

Ahora vamos a cargar y procesar los datos para PM2.5

In [31]:
# Cargar datos pm2.5
pm25_2020 = "raw/pm25-2020.csv"
pm25_2021 = "raw/pm25-2021.csv"
pm25_2022 = "raw/pm25-2022.csv"
pm25_2023 = "raw/pm25-2023.csv"
pm25_2024 = "raw/pm25-2024.csv"

df_2020_25 = pd.read_csv(pm25_2020, sep=',')
df_2021_25 = pd.read_csv(pm25_2021, sep=',')
df_2022_25 = pd.read_csv(pm25_2022, sep=',')
df_2023_25 = pd.read_csv(pm25_2023, sep=',')
df_2024_25 = pd.read_csv(pm25_2024, sep=',')

# Combinar los datos 
df_25 = pd.concat([df_2020_25, df_2021_25, df_2022_25, df_2023_25, df_2024_25], ignore_index=True)
df_25.head()

  Estacion     Fecha inicial       Fecha final  PM2.5
0   "USME"  12/31/2020 22:00  12/31/2020 22:59   24.0
1   "USME"  12/31/2020 21:00  12/31/2020 21:59   28.8
2   "USME"  12/31/2020 20:00  12/31/2020 20:59   21.8
3   "USME"  12/31/2020 19:00  12/31/2020 19:59   17.1
4   "USME"  12/31/2020 18:00  12/31/2020 18:59   10.6

In [32]:
# procesar la columna de fecha y hora
df_25['Fecha inicial'] = pd.to_datetime(df_25['Fecha inicial'], format='%m/%d/%Y %H:%M')
df_25.rename(columns={'Fecha inicial': 'FECHA'}, inplace=True)
df_25['ANIO'] = df_25['FECHA'].dt.year
df_25['HORA'] = df_25['FECHA'].dt.hour
df_25['MES'] = df_25['FECHA'].dt.month
df_25['DIA'] = df_25['FECHA'].dt.day
df_25.head()

# Renombrar columna a uppercase
df_25.rename(columns={'Estacion': 'ESTACION'}, inplace=True)

# Borrar columna fecha final
df_25.drop(columns=['Fecha final'], inplace=True)

In [33]:
df_25.head()

  ESTACION               FECHA  PM2.5  ANIO  HORA  MES  DIA
0   "USME" 2020-12-31 22:00:00   24.0  2020    22   12   31
1   "USME" 2020-12-31 21:00:00   28.8  2020    21   12   31
2   "USME" 2020-12-31 20:00:00   21.8  2020    20   12   31
3   "USME" 2020-12-31 19:00:00   17.1  2020    19   12   31
4   "USME" 2020-12-31 18:00:00   10.6  2020    18   12   31

In [34]:
# Ahora cargamos los datos de CO, NO2, O3, SO2 de 2020-2023

co_2020 = "raw/co-2020.csv"
co_2021 = "raw/co-2021.csv" 
co_2022 = "raw/co-2022.csv"
co_2023 = "raw/co-2023.csv"
co_2024 = "raw/co-2024.csv"
no2_2024 = "raw/no2-2024.csv"
no2_2020 = "raw/no2-2020.csv"
no2_2021 = "raw/no2-2021.csv"
no2_2022 = "raw/no2-2022.csv"
no2_2023 = "raw/no2-2023.csv"
no2_2024 = "raw/no2-2024.csv"
o3_2020 = "raw/o3-2020.csv"
o3_2021 = "raw/o3-2021.csv"
o3_2022 = "raw/o3-2022.csv"
o3_2023 = "raw/o3-2023.csv"
o3_2024 = "raw/o3-2024.csv"
so2_2020 = "raw/so2-2020.csv"
so2_2021 = "raw/so2-2021.csv"
so2_2022 = "raw/so2-2022.csv"
so2_2023 = "raw/so2-2023.csv"
so2_2024 = "raw/so2-2024.csv"

df_co_2020 = pd.read_csv(co_2020, sep=',')
df_co_2021 = pd.read_csv(co_2021, sep=',')
df_co_2022 = pd.read_csv(co_2022, sep=',')
df_co_2023 = pd.read_csv(co_2023, sep=',')
df_co_2024 = pd.read_csv(co_2024, sep=',')
df_no2_2020 = pd.read_csv(no2_2020, sep=',')
df_no2_2021 = pd.read_csv(no2_2021, sep=',')
df_no2_2022 = pd.read_csv(no2_2022, sep=',')
df_no2_2023 = pd.read_csv(no2_2023, sep=',')
df_no2_2024 = pd.read_csv(no2_2024, sep=',')
df_o3_2020 = pd.read_csv(o3_2020, sep=',')
df_o3_2021 = pd.read_csv(o3_2021, sep=',')
df_o3_2022 = pd.read_csv(o3_2022, sep=',')
df_o3_2023 = pd.read_csv(o3_2023, sep=',')
df_o3_2024 = pd.read_csv(o3_2024, sep=',')
df_so2_2020 = pd.read_csv(so2_2020, sep=',')
df_so2_2021 = pd.read_csv(so2_2021, sep=',')
df_so2_2022 = pd.read_csv(so2_2022, sep=',')
df_so2_2023 = pd.read_csv(so2_2023, sep=',')
df_so2_2024 = pd.read_csv(so2_2024, sep=',')

# Combinar los datos
df_co = pd.concat([df_co_2020, df_co_2021, df_co_2022, df_co_2023, df_co_2024], ignore_index=True)
df_no2 = pd.concat([df_no2_2020, df_no2_2021, df_no2_2022, df_no2_2023, df_no2_2024], ignore_index=True)
df_o3 = pd.concat([df_o3_2020, df_o3_2021, df_o3_2022, df_o3_2023, df_o3_2024], ignore_index=True)
df_so2 = pd.concat([df_so2_2020, df_so2_2021, df_so2_2022, df_so2_2023, df_so2_2024], ignore_index=True)

# procesar la columna de fecha y hora
for df in [df_co, df_no2, df_o3, df_so2]:
    df['Fecha inicial'] = pd.to_datetime(df['Fecha inicial'], format='%Y-%m-%d %H:%M')
    df.rename(columns={'Fecha inicial': 'FECHA'}, inplace=True)
    df['ANIO'] = df['FECHA'].dt.year
    df['HORA'] = df['FECHA'].dt.hour
    df['MES'] = df['FECHA'].dt.month
    df['DIA'] = df['FECHA'].dt.day
    df.rename(columns={'Estacion': 'ESTACION'}, inplace=True)
    df.drop(columns=['Fecha final'], inplace=True) 

# Ahora unimos todos los dataframes en uno solo
data_frames = [df_10, df_25, df_co, df_no2, df_o3, df_so2]
tabla_final = pd.concat(data_frames, ignore_index=True)
tabla_final.head()

,ESTACION,FECHA,PM10,ANIO,HORA,MES,DIA,PM2.5,CO,NO2,O3,SO2
0,CARVAJAL - SEVILLANA,2010-12-31 22:00:00,38.333333,2010,22,12,31,NaN,NaN,NaN,NaN,NaN
1,CARVAJAL - SEVILLANA,2010-12-31 21:00:00,33.833333,2010,21,12,31,NaN,NaN,NaN,NaN,NaN
2,CARVAJAL - SEVILLANA,2010-12-31 20:00:00,33.833333,2010,20,12,31,NaN,NaN,NaN,NaN,NaN
3,CARVAJAL - SEVILLANA,2010-12-31 19:00:00,46.500000,2010,19,12,31,NaN,NaN,NaN,NaN,NaN
4,CARVAJAL - SEVILLANA,2010-12-31 18:00:00,55.666667,2010,18,12,31,NaN,NaN,NaN,NaN,NaN

#

In [35]:
# Ahora vamos a juntar todos los datos, de forma tal que cada fila tenga la estacion, misma fecha, anio, hora, mes y dia y la concetracion de pm2.5, pm10, co, no2, o3 y so2 correpondiente a esa fecha.
df_final = tabla_final.groupby(['ESTACION', 'FECHA', 'ANIO', 'HORA', 'MES', 'DIA'], as_index=False).first()

# Para los nulos en algun contaminante imputamos 0 
df_final.fillna(0, inplace=True)

# Crear FECHA_KEY en formato AAAAMMDD como entero (ordenable y único)
df_final['FECHA'] = df_final['FECHA'].dt.strftime('%Y%m%d').astype(int)

# Ordenar por estación y fecha
df_final = df_final.sort_values(by=['ESTACION', 'FECHA'])

In [36]:
df_final["ESTACION"].value_counts()

ESTACION
PUENTE ARANDA                 126936
KENNEDY                       123714
LAS FERIAS                    123329
GUAYMARAL                     122049
CENTRO DE ALTO RENDIMIENTO    121636
SUBA                          121632
USAQUEN                       118975
TUNAL                         117018
SAN CRISTOBAL                 115698
MINAMBIENTE                   114135
CARVAJAL - SEVILLANA          114025
P_CAMI - FONTIBÓN              52001
BOGOTA RURAL - MOCHUELO        50127
BOLIVIA                        42797
MÓVIL 7MA                      41502
EL JAZMÍN                      36748
"USME"                         36584
CIUDAD BOLÍVAR                 36573
COLINA                         33339
MÓVIL FONTIBÓN                 31578
Fontibon                       31465
MOCHUELO - COLEGIO             11287
BOSA                            6838
CHICO LAGO (STO TOMAS)          6263
Name: count, dtype: int64

In [37]:
df_final

,ESTACION,FECHA,ANIO,HORA,MES,DIA,PM10,PM2.5,CO,NO2,O3,SO2
0,"""USME""",20201001,2020,0,10,1,26.8,10.3,114.49,14.29104,38.6514,13.87858
1,"""USME""",20201001,2020,1,10,1,23.6,7.7,228.98,14.10300,42.5754,22.51996
2,"""USME""",20201001,2020,2,10,1,24.5,0.0,114.49,7.70964,46.8918,8.37952
3,"""USME""",20201001,2020,3,10,1,18.0,0.0,114.49,14.85516,39.6324,10.21254
4,"""USME""",20201001,2020,4,10,1,13.6,0.0,228.98,29.89836,25.8984,38.23156
...,...,...,...,...,...,...,...,...,...,...,...,...
1736244,USAQUEN,20241231,2024,18,12,31,22.6,11.0,0.00,0.00000,0.0000,0.00000
1736245,USAQUEN,20241231,2024,19,12,31,17.1,11.0,0.00,0.00000,0.0000,0.00000
1736246,USAQUEN,20241231,2024,20,12,31,20.5,11.0,0.00,0.00000,0.0000,0.00000
1736247,USAQUEN,20241231,2024,21,12,31,31.3,17.0,0.00,0.00000,0.0000,0.00000
1736248,USAQUEN,20241231,2024,22,12,31,44.1,23.0,0.00,0.00000,0.0000,0.00000

In [38]:
map_estacion_localidad = {
    "USAQUEN": "Usaquén",
    "MINAMBIENTE": "Teusaquillo",
    "CENTRO DE ALTO RENDIMIENTO": "Barrios Unidos",
    "TUNAL": "Tunjuelito",
    "PUENTE ARANDA": "Puente Aranda",
    "SAN CRISTOBAL": "San Cristóbal",
    "LAS FERIAS": "Engativá",
    "GUAYMARAL": "Suba",
    "P_CAMI - FONTIBÓN": "Fontibón",
    "SUBA": "Suba",
    "KENNEDY": "Kennedy",
    "EL JAZMÍN": "Antonio Nariño",
    "CIUDAD BOLÍVAR": "Ciudad Bolívar",
    "MÓVIL 7MA": "Chapinero",
    "BOSA": "Bosa",
    "CARVAJAL - SEVILLANA": "Kennedy",
    "COLINA": "Suba",
    "MÓVIL FONTIBÓN": "Fontibón",
    "BOLIVIA": "Engativá",
    "BOGOTA RURAL - MOCHUELO": "Ciudad Bolívar",
    "MOCHUELO - COLEGIO": "Ciudad Bolívar",
    "\"USME\"": "Usme",
    "Fontibon": "Fontibón",
    "CHICO LAGO (STO TOMAS)": "Chapinero"
}
map_localidad_id = {
    "Usaquén": 1, "Chapinero": 2, "Santa Fe": 3, "San Cristóbal": 4,
    "Usme": 5, "Tunjuelito": 6, "Bosa": 7, "Kennedy": 8, "Fontibón": 9,
    "Engativá": 10, "Suba": 11, "Barrios Unidos": 12, "Teusaquillo": 13,
    "Los Mártires": 14, "Antonio Nariño": 15, "Puente Aranda": 16,
    "La Candelaria": 17, "Rafael Uribe": 18, "Ciudad Bolívar": 19
}

In [39]:
df_final["LOCALIDAD"] = df_final["ESTACION"].map(map_estacion_localidad)
df_final["ID_LOCALIDAD"] = df_final["LOCALIDAD"].map(map_localidad_id)

meas = ["PM10","PM2.5","CO","NO2","O3","SO2"]

df_final[meas] = df_final[meas].replace(0.0, np.nan)

keys = ["LOCALIDAD","ID_LOCALIDAD","FECHA","ANIO","MES","DIA","HORA"]

agg_dict = {c: "mean" for c in meas}
for c in meas:
    agg_dict[f"n_{c}"] = (c, "count")

df_localidad = (
    df_final
      .groupby(keys, dropna=False)
      .agg(**{c: pd.NamedAgg(column=c, aggfunc="mean") for c in meas},
           **{f"n_{c}": pd.NamedAgg(column=c, aggfunc="count") for c in meas})
      .reset_index()
)

df_localidad = df_localidad.sort_values(["FECHA","HORA","LOCALIDAD"]).reset_index(drop=True)

In [40]:
df_final["LOCALIDAD"].value_counts()

LOCALIDAD
Suba              277020
Kennedy           237739
Engativá          166126
Puente Aranda     126936
Barrios Unidos    121636
Usaquén           118975
Tunjuelito        117018
San Cristóbal     115698
Fontibón          115044
Teusaquillo       114135
Ciudad Bolívar     97987
Chapinero          47765
Antonio Nariño     36748
Usme               36584
Bosa                6838
Name: count, dtype: int64

In [41]:
df_final["ESTACION"].value_counts()

ESTACION
PUENTE ARANDA                 126936
KENNEDY                       123714
LAS FERIAS                    123329
GUAYMARAL                     122049
CENTRO DE ALTO RENDIMIENTO    121636
SUBA                          121632
USAQUEN                       118975
TUNAL                         117018
SAN CRISTOBAL                 115698
MINAMBIENTE                   114135
CARVAJAL - SEVILLANA          114025
P_CAMI - FONTIBÓN              52001
BOGOTA RURAL - MOCHUELO        50127
BOLIVIA                        42797
MÓVIL 7MA                      41502
EL JAZMÍN                      36748
"USME"                         36584
CIUDAD BOLÍVAR                 36573
COLINA                         33339
MÓVIL FONTIBÓN                 31578
Fontibon                       31465
MOCHUELO - COLEGIO             11287
BOSA                            6838
CHICO LAGO (STO TOMAS)          6263
Name: count, dtype: int64

In [42]:
df_final.drop(columns=["ESTACION"], inplace=True)

In [43]:
df_final["LOCALIDAD"].value_counts()

LOCALIDAD
Suba              277020
Kennedy           237739
Engativá          166126
Puente Aranda     126936
Barrios Unidos    121636
Usaquén           118975
Tunjuelito        117018
San Cristóbal     115698
Fontibón          115044
Teusaquillo       114135
Ciudad Bolívar     97987
Chapinero          47765
Antonio Nariño     36748
Usme               36584
Bosa                6838
Name: count, dtype: int64

In [44]:
df_final["ID_LOCALIDAD"].value_counts()

ID_LOCALIDAD
11    277020
8     237739
10    166126
16    126936
12    121636
1     118975
6     117018
4     115698
9     115044
13    114135
19     97987
2      47765
15     36748
5      36584
7       6838
Name: count, dtype: int64

In [45]:
# Poner ID_LOCALIDAD como entero
df_final["ID_LOCALIDAD"] = df_final["ID_LOCALIDAD"].fillna(0).astype(int)

In [46]:
# Exportar el dataframe final a un archivo CSV
df_final.to_csv( "consolidados/contaminantes_2020_2023.csv", encoding="utf-8-sig", index=False, sep=",", decimal=".")

In [47]:
df_final.head()

,FECHA,ANIO,HORA,MES,DIA,PM10,PM2.5,CO,NO2,O3,SO2,LOCALIDAD,ID_LOCALIDAD
0,20201001,2020,0,10,1,26.8,10.3,114.49,14.29104,38.6514,13.87858,Usme,5
1,20201001,2020,1,10,1,23.6,7.7,228.98,14.10300,42.5754,22.51996,Usme,5
2,20201001,2020,2,10,1,24.5,NaN,114.49,7.70964,46.8918,8.37952,Usme,5
3,20201001,2020,3,10,1,18.0,NaN,114.49,14.85516,39.6324,10.21254,Usme,5
4,20201001,2020,4,10,1,13.6,NaN,228.98,29.89836,25.8984,38.23156,Usme,5

In [48]:
df_final["ID_LOCALIDAD"].value_counts()

ID_LOCALIDAD
11    277020
8     237739
10    166126
16    126936
12    121636
1     118975
6     117018
4     115698
9     115044
13    114135
19     97987
2      47765
15     36748
5      36584
7       6838
Name: count, dtype: int64